.footer {
  padding: 80px 0 10px;
}

.copyright-wrap {
  font-size: 12px;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .copyright-wrap {
    text-align: center;
    padding: 20px 0 10px;
  }
  .footer {
    text-align: center;
  }
  .fw-title h5::before {
    left: 45%;
  }
  .footer-social ul {
    justify-content: center;
  }
}